@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Noto+Serif+Georgian:wght@200&family=Nunito:wght@200;400;700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.nav-bar{
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar h2{
  font-size: 40px;
}
.nav-bar a{
  text-decoration: none;
  color: white;
}
.nav-bag{
  display: flex;
  align-items: center;
}
.bag-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
}
.not-found h2{
  font-size: 55px;
}
.not-found p{
  font-size: 20px;
}

.home-container{
  padding: 2rem 4rem;
}
.home-container h2{
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product{
  width: 250px;
  max-width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.5),2px 2px 5px rgba(94,104,121,0.3);
}
.product img{
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3{
  font-size: 25px;
  font-weight: 400;
}
.product .details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .details .price{
  font-size: 20px;
  font-weight: 700;
}
.product .description{
  font-size: 16px;
}
.product button{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}

.cart-container{
  padding: 2rem 4rem;
}
.cart-container h2{
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles{
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles{
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item{
  border-top: 1px solid rgb(187,187,187);
  padding: 1rem 0;
}
.cart-container .titles .product-title{
  padding-left: 0.5rem;
}
.cart-container .titles .total{
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product{
  display: flex;
}
.cart-item .cart-product img{
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3{
  font-weight: 400;
}
.cart-item .cart-product button{
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover{
  color: black;
}
.cart-product-quantity{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-product-quantity button{
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-product-quantity .count{
  padding: 0.7rem 0;
}
.cart-product-total-price{
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}



.cart-summary{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-cart{
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout{
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .subtotal .amount{
  font-weight: 700;
}
.cart-checkout p{
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}
.continue-shopping,
.start-shopping{
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a{
 color: gray;
 text-decoration: none;
 display: flex;
 align-items: center;
}
.continue-shopping a span,
.start-shopping a span{
  margin-left: 0.5rem;
}
.cart-empty{
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84,84,84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login{
  display: inline-block;
  margin-right: 1.5rem;
}
.login :last-child{
  margin-right: 0;
}
.authWrapper{
  display: block;
  width: 30%;
  max-height: 40.0rem;
  margin: 4rem auto 6rem;
  border: 1px solid black;
}
/* .signup .wrap{
  padding:10px;
} */
.authWrapper .wrap{
  padding:10px;
}
/* .signup .wrap h2{
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto 3rem;
  padding: 0;
} */
.authWrapper .wrap h2{
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto 3rem;
  padding: 0;
}
.btn{
  display: block;
  width: 100%;
  background: black;
  color: white;
  padding: 1rem 0;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  outline: none;
  cursor: pointer;
}
.socialSignin{
  margin: 0.5rem auto 0;
}
.logout{
  color: white;
  cursor: pointer;
}
.formRow input{
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin: 10px auto;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  border: 1px solid #9e9e9e;
  outline: none;
}
.formWrap{
  margin: 3rem auto 0;
}
.links{
  display: block;
  width: 30%;
  margin: 1.5rem auto 0;
}
.links a{
  color: black;
  text-decoration: none;
}